
*.cache
*.cache
Lösenordshanterare_PG12/Lösenordshanterare_PG12/obj/Debug/netcoreapp3.1/Lösenordshanterare_PG12.csprojAssemblyReference.cache
Lösenordshanterare_PG12/.vs/Lösenordshanterare_PG12/v16/.suo
Lösenordshanterare_PG12/.vs/Lösenordshanterare_PG12/DesignTimeBuild/.dtbcache.v2
*.v2
